doCondivisi-ejb/src/java/META-INF/wsit-doCondivisi.doCondivisiWS.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="doCondivisiWS" targetNamespace="http://doCondivisi/" xmlns:tns="http://doCondivisi/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" 
 >
    <message name="create"/>
    <message name="createResponse"/>
    <message name="edit"/>
    <message name="editResponse"/>
    <message name="remove"/>
    <message name="removeResponse"/>
    <message name="find"/>
    <message name="findResponse"/>
    <message name="findAll"/>
    <message name="findAllResponse"/>
    <message name="findRange"/>
    <message name="findRangeResponse"/>
    <message name="count"/>
    <message name="countResponse"/>
    <portType name="doCondivisiWS">
        <operation name="create">
            <input message="tns:create"/>
            <output message="tns:createResponse"/>
        </operation>
        <operation name="edit">
            <input message="tns:edit"/>
            <output message="tns:editResponse"/>
        </operation>
        <operation name="remove">
            <input message="tns:remove"/>
            <output message="tns:removeResponse"/>
        </operation>
        <operation name="find">
            <input message="tns:find"/>
            <output message="tns:findResponse"/>
        </operation>
        <operation name="findAll">
            <input message="tns:findAll"/>
            <output message="tns:findAllResponse"/>
        </operation>
        <operation name="findRange">
            <input message="tns:findRange"/>
            <output message="tns:findRangeResponse"/>
        </operation>
        <operation name="count">
            <input message="tns:count"/>
            <output message="tns:countResponse"/>
        </operation>
    </portType>
    <binding name="doCondivisiWSPortBinding" type="tns:doCondivisiWS">
        <operation name="create">
            <input/>
            <output/>
        </operation>
        <operation name="edit">
            <input/>
            <output/>
        </operation>
        <operation name="remove">
            <input/>
            <output/>
        </operation>
        <operation name="find">
            <input/>
            <output/>
        </operation>
        <operation name="findAll">
            <input/>
            <output/>
        </operation>
        <operation name="findRange">
            <input/>
            <output/>
        </operation>
        <operation name="count">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="doCondivisiWS">
        <port name="doCondivisiWSPort" binding="tns:doCondivisiWSPortBinding"/>
    </service>
</definitions>
